$pri-color: #236E76;
$sec-color: #202020;
$nat-color-light: #ffffff;
$text-light: #ffffff;
$text-dark: #000000;
$font-head: 'Oswald', sans-serif;
$font-para: sans-serif;
#about {
    > section {
        max-width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 5rem 0;
        .top-content {
            > article {
                display: flex;
                justify-content: space-between;
                align-items: center;
                > div {
                    > p {
                        color: #2b2b2b;
                        margin: 1rem 0;
                    }
                }
            }
            > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5rem;
                padding: 0 5rem;
            }
        }
    }
}