$pri-color: #236E76;
$sec-color: #202020;
$nat-color-light: #ffffff;
$text-light: #ffffff;
$text-dark: #000000;
$font-head: 'Oswald', sans-serif;
$font-para: 'Roboto' sans-serif;

$count: 6;
#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 2rem;
        margin: 0 1.5rem;
        cursor: pointer;
        transition: 0.4s;
        display: block;
        &:hover {
            transform: scale(1.4);
        }
    }
    > div {
        width: 300px * 3;
        overflow: hidden;
        > div {
            // position: absolute;
            height: 365px;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.4s;
            > .slider-card {
                position: absolute;
                top: 0;
                left: 0;
                @for $i from 0 through $count {
                    &:nth-of-type(#{$i+1}) {
                        left: 300px * $i;
                    }
                }
            }
        }
    }
}