$pri-color: #236E76;
$sec-color: #202020;
$nat-color-light: #ffffff;
$text-light: #ffffff;
$text-dark: #000000;
$font-head: 'Oswald', sans-serif;
$font-para: sans-serif;
.btn-primary {
    background-color: transparent;
    border: none;
    outline: none;
    color: $nat-color-light;
    &:hover {
        a {
            background-color: $nat-color-light;
            color: $text-dark;
        }
    }
    a {
        padding: 10px 32px;
        border-radius: 200px;
        border: 2px solid $nat-color-light;
        font-family: $font-para;
        font-size: 0.875rem;
        transition: 0.4s;
    }
}
.btn-secondary {
    background-color: transparent;
    border: none;
    outline: none;
    color: $nat-color-light;
    &:hover {
        a {
            background-color: $sec-color;
            border: 1px solid $sec-color;
        }
    }
    a {
        padding: 10px 32px;
        border-radius: 200px;
        background-color: $pri-color;
        font-family: $font-para;
        font-size: 0.875rem;
        transition: 0.4s;
        border: 1px solid $pri-color;
    }
}
.btn-ternary {
    width: 100%;
    cursor: pointer;
    background-color: $sec-color;
    border: none;
    outline: none;
    color: $nat-color-light;
    padding: 10px 32px;
    border-radius: 200px;
    background-color: $sec-color;
    font-family: $font-para;
    font-size: 0.875rem;
    transition: 0.4s;
    margin-top: 2rem;
    &:hover {
         background-color: $pri-color;
    }
}