@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

body {
  font-size: 16px;
}

main {
  overflow-x: hidden;
}

.head-sm {
  font-size: 1.625rem;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.head-sm[data-color=white] {
  color: #ffffff;
}

.head-md {
  font-size: 2.1875rem;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.head-md[data-color=white] {
  color: #ffffff;
}

.head-bold {
  font-size: 3.125rem;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}
.head-bold[data-color=white] {
  color: #ffffff;
}

h1 {
  font-size: 3.125rem;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.nav-item {
  font-size: 1.25rem;
  color: #202020;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: #236E76;
  transform: scale(0) translateX(-50%);
  transition: 0.4s;
  transform-origin: center;
}
.nav-item:hover::before {
  transform: scale(1) translateX(-50%);
  transform-origin: left;
}

.nav-icon {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.1rem;
}
.nav-icon:hover {
  color: #236E76;
  background-color: #ffffff;
}
.nav-icon a {
  width: 100%;
  height: 100%;
}

.misc-sm {
  font-size: 1rem;
  color: #236E76;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.misc-sm[data-color=white] {
  color: #ffffff;
}

.misc-md {
  font-size: 1.125rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.misc-md[data-color=white] {
  color: #ffffff;
  opacity: 0.7;
}

.misc-num {
  font-size: 2.625rem;
  color: #236E76;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.misc-num[data-color=white] {
  color: #ffffff;
}

.caption {
  font-size: 1.125rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.caption[data-color=white] {
  color: #ffffff;
}

.para-sm {
  font-size: 0.94rem;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.para-sm[data-color=white] {
  color: #ffffff;
}

.para-md {
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.para-md[data-color=white] {
  color: #ffffff;
}

.btn-primary {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
.btn-primary:hover a {
  background-color: #ffffff;
  color: #000000;
}
.btn-primary a {
  padding: 10px 32px;
  border-radius: 200px;
  border: 2px solid #ffffff;
  font-family: sans-serif;
  font-size: 0.875rem;
  transition: 0.4s;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
.btn-secondary:hover a {
  background-color: #202020;
  border: 1px solid #202020;
}
.btn-secondary a {
  padding: 10px 32px;
  border-radius: 200px;
  background-color: #236E76;
  font-family: sans-serif;
  font-size: 0.875rem;
  transition: 0.4s;
  border: 1px solid #236E76;
}

.btn-ternary {
  width: 100%;
  cursor: pointer;
  background-color: #202020;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 200px;
  background-color: #202020;
  font-family: sans-serif;
  font-size: 0.875rem;
  transition: 0.4s;
  margin-top: 2rem;
}
.btn-ternary:hover {
  background-color: #236E76;
}

header {
  max-width: 1400px;
  height: calc(1rem + 140px);
  margin: 0 auto;
  position: relative;
  z-index: 999;
}
header .top-menu, header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7rem;
  height: 70px;
}
header .top-menu {
  background-color: transparent;
}
header .top-menu h5 {
  color: white;
}
header .top-menu ul {
  display: flex;
}
header .top-menu ul li {
  margin: 0 0.75rem;
}
header .menu {
  transition: 0.4s;
}
header .menu figure {
  width: 100px;
  height: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu figure img {
  width: 70px;
  height: 50%;
}
header .menu nav {
  background-color: white;
}
header .menu nav.desktop-nav {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu nav.desktop-nav ul {
  justify-content: flex-end;
}
header .menu nav.desktop-nav ul li {
  margin: 0 1rem;
}
header .menu nav.mobile-nav {
  display: none;
  width: calc(100% - 100px);
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
}
header .menu nav.mobile-nav > span {
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 999;
  margin-right: 1rem;
  z-index: 999999;
}
header .menu nav.mobile-nav > ul {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6509803922);
  transition: 0.4s;
  transform: translateX(100%);
  top: 0;
  right: 0;
  z-index: 99999;
}
header .menu nav.mobile-nav > ul > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}
header .menu nav.mobile-nav > ul > ul li {
  margin: 0 0.5rem;
  color: white;
}
header .menu nav.mobile-nav > ul li {
  color: white;
  margin: 0.5rem;
}
header .menu nav ul {
  display: flex;
  align-items: center;
}

.active-nav {
  transform: translateX(0) !important;
}

.menu-fix {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  margin: 0 !important;
  box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.256);
}

#head {
  position: relative;
}
#head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background: linear-gradient(262deg, rgb(8, 70, 73) 0%, rgb(66, 157, 171) 48%, rgb(8, 70, 73) 100%);
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
#head > section {
  max-width: 1400px;
  height: 700px;
  margin: 0 auto;
  margin-top: calc(-140px - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}
#head > section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: calc(140px + 1rem);
}
#head > section > div article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#head > section > div article p {
  margin: 1rem 0;
  margin-bottom: 2rem;
}
#head > section > div > figure {
  width: 60%;
  height: auto;
  margin-top: 3rem;
}
#head > section > div > figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#head > section > div #absolute-lamp {
  position: absolute;
  width: 300px;
  height: auto;
  top: -70px;
  left: 15%;
  z-index: -1;
}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.about-card > h3 {
  margin: 1rem 0;
}
.about-card > p {
  text-align: center;
}

.customer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  text-align: center;
}
.customer-card > span {
  color: #ffffff;
  font-size: 3rem;
}
.customer-card > p {
  margin: 1.5rem 0;
}
.customer-card > figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.customer-card > figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.customer-card > figure > figcaption {
  margin: 1rem 0;
}
.customer-card > figure > figcaption > h3 {
  color: white;
}

.slider-card {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
}
.slider-card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 6px;
}
.slider-card > figure {
  width: 80%;
  height: 250px;
  margin-bottom: 1rem;
}
.slider-card > figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-card > article {
  text-align: center;
}
.slider-card > article p {
  margin: 0.5rem 0;
  font-size: 1.05rem;
  font-weight: 300;
  padding: 0 1rem;
}
.slider-card > article h3 {
  font-weight: 300;
}

#about > section {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 5rem 0;
}
#about > section .top-content > article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about > section .top-content > article > div > p {
  color: #2b2b2b;
  margin: 1rem 0;
}
#about > section .top-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 0 5rem;
}

#rate {
  position: relative;
}
#rate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202020;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#rate > section {
  max-width: 1400px;
  margin: 3rem auto;
  height: auto;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  padding-top: 3rem;
}
#rate > section > div {
  width: 50%;
  height: 650px;
}
#rate > section > div:nth-of-type(1) .meters {
  margin: 2rem 0;
}
#rate > section > div:nth-of-type(1) .meters .outter-meter {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  margin: 1rem 0;
  background-color: #ffffff;
}
#rate > section > div:nth-of-type(1) .meters .outter-meter .inner-meter {
  width: 50%;
  height: 100%;
  background-color: #236E76;
  position: relative;
}
#rate > section > div:nth-of-type(1) .meters .outter-meter .inner-meter > span {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  width: 35px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: 0;
  background-color: #236E76;
  color: white;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
#rate > section > div:nth-of-type(2) {
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#rate > section > div:nth-of-type(2) > div {
  text-align: center;
}
#rate > section > div:nth-of-type(2) > figure {
  width: 350px;
  height: auto;
}
#rate > section > div:nth-of-type(2) > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery > section {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallery > section > .grid {
  width: 80%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px repeat(3, 430px);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  height: 1160px;
}
#gallery > section > .grid figure {
  position: relative;
  overflow: hidden;
}
#gallery > section > .grid figure > figcaption {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background-color: rgba(35, 110, 118, 0.5411764706);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
#gallery > section > .grid figure:hover img {
  transform: scale(1.4);
}
#gallery > section > .grid figure:hover figcaption {
  opacity: 1;
  visibility: visible;
}
#gallery > section > .grid figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}

#customer {
  position: relative;
}
#customer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: #202020;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
#customer > section {
  max-width: 1400px;
  max-width: 1400px;
  margin: 3rem auto;
  height: auto;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  padding-top: 3rem;
}
#customer > section > div {
  width: 50%;
  height: 650px;
}
#customer > section > div:nth-of-type(1) {
  position: relative;
  overflow: hidden;
}
#customer > section > div:nth-of-type(1) > div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: anime-1 12s infinite;
          animation: anime-1 12s infinite;
}
#customer > section > div:nth-of-type(1) > div > .customer-card {
  width: 100%;
  height: auto;
  position: absolute;
  top: 3rem;
  left: 0;
}
#customer > section > div:nth-of-type(1) > div > .customer-card:nth-of-type(2) {
  left: 100%;
}
#customer > section > div:nth-of-type(2) {
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#customer > section > div:nth-of-type(2) > div {
  text-align: center;
}
#customer > section > div:nth-of-type(2) > figure {
  width: 80%;
  height: auto;
}
#customer > section > div:nth-of-type(2) > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes anime-1 {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anime-1 {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider span {
  font-size: 2rem;
  margin: 0 1.5rem;
  cursor: pointer;
  transition: 0.4s;
  display: block;
}
#slider span:hover {
  transform: scale(1.4);
}
#slider > div {
  width: 900px;
  overflow: hidden;
}
#slider > div > div {
  height: 365px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.4s;
}
#slider > div > div > .slider-card {
  position: absolute;
  top: 0;
  left: 0;
}
#slider > div > div > .slider-card:nth-of-type(1) {
  left: 0px;
}
#slider > div > div > .slider-card:nth-of-type(2) {
  left: 300px;
}
#slider > div > div > .slider-card:nth-of-type(3) {
  left: 600px;
}
#slider > div > div > .slider-card:nth-of-type(4) {
  left: 900px;
}
#slider > div > div > .slider-card:nth-of-type(5) {
  left: 1200px;
}
#slider > div > div > .slider-card:nth-of-type(6) {
  left: 1500px;
}
#slider > div > div > .slider-card:nth-of-type(7) {
  left: 1800px;
}

#shop > section {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#shop > section > h5 {
  margin: 0.5rem 0;
}
#shop > section #slider {
  margin-top: 4rem;
}

#blog {
  position: relative;
}
#blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: #236E76;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#blog > section {
  max-width: 1400px;
  margin: 3rem auto;
  height: auto;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}
#blog > section > article, #blog > section figure {
  width: 50%;
  height: auto;
  margin: 0 2rem;
}
#blog > section > article p {
  margin: 2rem 0;
  font-weight: 300;
  font-size: 1.05rem;
  padding-right: 2rem;
}
#blog > section > article button {
  margin-top: 2.5rem;
}
#blog > section figure {
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#blog > section figure img {
  width: 65%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact > section {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}
#contact > section > div {
  width: 40%;
  margin: 0 2rem;
}
#contact > section > div:nth-of-type(1) {
  width: 50%;
}
#contact > section > div:nth-of-type(1) > h2 {
  margin-bottom: 2rem;
}
#contact > section > div:nth-of-type(1) > form {
  font-family: "Roboto", sans-serif;
}
#contact > section > div:nth-of-type(1) > form .form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact > section > div:nth-of-type(1) > form .form-flex > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-right: 2rem;
}
#contact > section > div:nth-of-type(1) > form .form-flex > div > input {
  width: 100%;
  height: 48px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
#contact > section > div:nth-of-type(1) > form .form-flex > div > input:focus {
  outline: 3px solid rgba(35, 110, 118, 0.2);
}
#contact > section > div:nth-of-type(1) > form .form-flex > div > input::-moz-placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(1) > form .form-flex > div > input:-ms-input-placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(1) > form .form-flex > div > input::placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(1) > form .form-flex > textarea {
  width: 50%;
  height: calc(144px + 2rem);
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
#contact > section > div:nth-of-type(1) > form .form-flex > textarea:focus {
  outline: 3px solid rgba(35, 110, 118, 0.2);
}
#contact > section > div:nth-of-type(1) > form .form-flex > textarea::-moz-placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(1) > form .form-flex > textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(1) > form .form-flex > textarea::placeholder {
  font-size: 1rem;
  color: #777;
}
#contact > section > div:nth-of-type(2) > p {
  margin: 2rem 0;
  color: #777;
}
#contact > section > div > ul > li {
  color: #777;
  margin: 0.5rem 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
#contact > section > div > ul > li span {
  font-size: 2.5rem;
  color: #236E76;
  opacity: 0.4;
  margin-right: 1rem;
}

footer > section {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}
footer > section > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > section > ul > li {
  margin: 0 0.75rem;
}
footer > section > ul > li > a {
  color: black !important;
  opacity: 0.8;
}
footer > section > ul > li > a span {
  color: black !important;
  opacity: 0.8;
}
footer > section > p {
  opacity: 0.8;
}

@media only screen and (max-width: 576px) {
  .head-bold {
    font-size: 2.5875rem;
  }
  h1 {
    font-size: 2.5875rem;
  }
  header .top-menu, header .menu {
    margin: 0 1.5rem;
  }
  header .menu nav {
    margin: 0;
  }
  header .menu nav.desktop-nav {
    display: none;
  }
  header .menu nav.mobile-nav {
    display: flex;
  }
  #head::before {
    height: 85%;
  }
  #head > section > div {
    margin-top: calc(70px + 1rem);
  }
  #head > section > div figure {
    width: 80%;
  }
  #head > section #absolute-lamp {
    display: none;
  }
  #about > section > .top-content {
    padding: 0 2rem;
  }
  #about > section > .top-content article {
    flex-direction: column;
  }
  #about > section > .top-content article > div {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
  #about > section > .top-content > div {
    flex-direction: column;
    padding: 0;
  }
  #about > section > .top-content > div > div {
    margin: 1rem 0;
    width: 100%;
  }
  #rate > section {
    flex-direction: column;
    padding: 2rem;
  }
  #rate > section > div {
    width: 100%;
    margin: 0;
  }
  #rate > section > div:nth-of-type(1) button {
    margin-top: 3rem;
  }
  #rate > section > div:nth-of-type(2) {
    padding-left: 0;
  }
  #gallery > section > .grid {
    width: 100%;
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1fr;
    grid-column-gap: 1fr;
    height: auto;
  }
  #gallery > section > .grid > div {
    grid-area: unset;
  }
  #gallery > section > .grid > figure:nth-of-type(1) {
    grid-area: unset;
    margin-top: 0;
  }
  #gallery > section > .grid > figure:nth-of-type(2) {
    grid-area: unset;
  }
  #gallery > section > .grid > figure:nth-of-type(3) {
    grid-area: unset;
    margin-top: 0;
  }
  #gallery > section > .grid > figure:nth-of-type(4) {
    grid-area: unset;
  }
  #customer > section {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 10rem;
  }
  #customer > section > div {
    width: 100%;
    margin: 0;
  }
  #customer > section > div:nth-of-type(2) {
    padding: 0;
  }
  #customer > section > div:nth-of-type(2) > figure {
    width: 90%;
  }
  #blog > section {
    flex-direction: column;
    padding: 2rem 0;
  }
  #blog > section > article, #blog > section figure {
    width: 100%;
    margin: 0;
  }
  #blog > section > article {
    padding: 0 2rem;
  }
  #blog > section > figure {
    padding-left: 0;
    margin-top: 2rem;
  }
  #contact > section {
    flex-direction: column;
    padding: 3rem 0;
  }
  #contact > section > div {
    width: 100%;
    padding: 2rem 0;
  }
  #contact > section > div:nth-of-type(1) {
    width: 90%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex {
    flex-direction: column;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div, #contact > section > div:nth-of-type(1) > form > .form-flex textarea {
    width: 100%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div {
    margin-right: 0;
  }
  footer > section {
    flex-direction: column;
  }
  footer > section ul {
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 577px) {
  header .top-menu, header .menu {
    margin: 0 1.5rem;
  }
  header .menu nav {
    margin: 0;
  }
  header .menu nav.desktop-nav {
    display: none;
  }
  header .menu nav.mobile-nav {
    display: flex;
  }
  #head > section > div {
    margin-top: calc(70px + 1rem);
  }
  #head > section > div figure {
    width: 80%;
  }
  #head > section #absolute-lamp {
    display: none;
  }
  #about > section > .top-content {
    padding: 0 2rem;
  }
  #about > section > .top-content article {
    flex-direction: column;
  }
  #about > section > .top-content article > div {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
  #about > section > .top-content > div {
    flex-direction: column;
    padding: 0;
  }
  #about > section > .top-content > div > div {
    margin: 1rem 0;
    width: 100%;
  }
  #rate > section {
    flex-direction: column;
    padding: 2rem;
  }
  #rate > section > div {
    width: 100%;
    margin: 0;
  }
  #rate > section > div:nth-of-type(1) button {
    margin-top: 3rem;
  }
  #rate > section > div:nth-of-type(2) {
    padding-left: 0;
  }
  #gallery > section > .grid {
    width: 100%;
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1fr;
    height: auto;
  }
  #gallery > section > .grid > div {
    grid-area: unset;
  }
  #gallery > section > .grid > figure:nth-of-type(1) {
    grid-area: unset;
    margin-top: 0;
  }
  #gallery > section > .grid > figure:nth-of-type(2) {
    grid-area: unset;
  }
  #gallery > section > .grid > figure:nth-of-type(3) {
    grid-area: unset;
    margin-top: 0;
  }
  #gallery > section > .grid > figure:nth-of-type(4) {
    grid-area: unset;
  }
  #customer > section {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 10rem;
  }
  #customer > section > div {
    width: 100%;
    margin: 0;
  }
  #customer > section > div:nth-of-type(2) {
    padding: 0;
  }
  #customer > section > div:nth-of-type(2) > figure {
    width: 90%;
  }
  #blog > section {
    flex-direction: column;
    padding: 2rem 0;
  }
  #blog > section > article, #blog > section figure {
    width: 100%;
    margin: 0;
  }
  #blog > section > figure {
    padding-left: 0;
    margin-top: 2rem;
  }
  #blog > section > article {
    padding: 0 2rem;
  }
  #contact > section {
    flex-direction: column;
    padding: 3rem 0;
  }
  #contact > section > div {
    width: 100%;
    padding: 2rem 0;
  }
  #contact > section > div:nth-of-type(1) {
    width: 90%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex {
    flex-direction: column;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div, #contact > section > div:nth-of-type(1) > form > .form-flex textarea {
    width: 100%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div {
    margin-right: 0;
  }
  footer > section {
    flex-direction: column;
  }
  footer > section ul {
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 768px) {
  #head > section > div {
    margin-top: calc(140px + 1rem);
  }
  #head > section > div figure {
    width: 80%;
  }
  #head > section #absolute-lamp {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  header .top-menu, header .menu {
    margin: 0 7rem;
  }
  header .menu nav.desktop-nav {
    display: flex;
  }
  header .menu nav.mobile-nav {
    display: none;
  }
  #head > section > div {
    margin-top: calc(140px + 1rem);
  }
  #head > section > div figure {
    width: 60%;
  }
  #head > section #absolute-lamp {
    display: block;
  }
  #about > section > .top-content {
    padding: 0 2rem;
  }
  #about > section > .top-content article {
    flex-direction: row;
  }
  #about > section > .top-content article > div {
    width: 50%;
    margin: 0 2rem;
    padding: 0 3rem;
  }
  #about > section > .top-content > div {
    flex-direction: row;
    padding: 0 5rem;
  }
  #about > section > .top-content > div > div {
    margin: 1rem 0;
    width: 320px;
  }
  #rate > section {
    flex-direction: row;
    padding: 2rem 5rem;
  }
  #rate > section > div {
    width: 50%;
    margin: 0;
  }
  #rate > section > div:nth-of-type(1) button {
    margin-top: 0;
  }
  #rate > section > div:nth-of-type(2) {
    padding-left: 3rem;
  }
  #gallery > section > .grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px repeat(3, 430px);
    grid-row-gap: 0.5rem;
    grid-column-gap: 1.5rem;
    height: 1160px;
  }
  #gallery > section > .grid > div {
    grid-area: 1/1/2/2;
  }
  #gallery > section > .grid > figure:nth-of-type(1) {
    grid-area: 1/2/3/3;
    margin-top: -200px;
  }
  #gallery > section > .grid > figure:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }
  #gallery > section > .grid > figure:nth-of-type(3) {
    grid-area: 3/2/4/3;
    margin-top: -400px;
  }
  #gallery > section > .grid > figure:nth-of-type(4) {
    grid-area: 2/1/5/2;
  }
  #customer > section {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
    padding-bottom: 0;
  }
  #customer > section > div {
    width: 50%;
    margin: 0;
  }
  #customer > section > div:nth-of-type(2) {
    padding-left: 3rem;
  }
  #customer > section > div:nth-of-type(2) > figure {
    width: 80%;
  }
  #blog > section {
    flex-direction: row;
    padding: 2rem 5rem;
    padding-top: 5rem;
  }
  #blog > section > article, #blog > section figure {
    width: 50%;
    margin: 0 2rem;
  }
  #blog > section > figure {
    padding-left: 5rem;
    margin-top: 0;
  }
  #blog > section > article {
    padding: 0;
  }
  #contact > section {
    flex-direction: row;
    padding: 3rem 5rem;
  }
  #contact > section > div {
    width: 40%;
    padding: 0;
  }
  #contact > section > div:nth-of-type(1) {
    width: 50%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex {
    flex-direction: row;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div, #contact > section > div:nth-of-type(1) > form > .form-flex textarea {
    width: 50%;
  }
  #contact > section > div:nth-of-type(1) > form > .form-flex > div {
    margin-right: 2rem;
  }
  footer > section {
    flex-direction: row;
  }
  footer > section ul {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */